# {# pkglts, pysetup
coverage  # pip install coverage
pytest  # pip install pytest
pytest-cov  # pip install pytest-cov
pytest-mock  # pip install pytest-mock
sphinx  # pip install sphinx
sphinx_rtd_theme  # pip install sphinx_rtd_theme
twine  # pip install twine

# #}
